<div class="header-container">
    <div class="header-content">
        <div class="header-logo">
            <img src="/assets/logo-medicar.png" alt="Medicar" class="logo-img">
        </div>
        <div class="buttons-container">
            <div class="user-name-button">Roberto Dutra</div>
            <div class="logout-button-container">
                <button mat-button class="form-button logout-button secondary-button">Desconectar</button>
            </div>
        </div>
    </div>
</div>