.header-container {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

.header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    height: 10vh;
}

.buttons-container {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    height: 45%;
    width: auto;
    position: absolute;
    left: 0px;
    margin-top: -0.5rem;
}

.logo-img {
    position: relative;
    object-fit: contain;
    height: 100%;
}

.user-name-button {
    color: rgba(168, 168, 168, 1);
}

.logout-button-container {
    margin-left: 4rem;
}

// Breakpoint de celular
@media screen and (max-width: 350px) {
    .logout-button-container {
        margin-left: 2rem;
    }
}