<div class="form-container">
    <p class="form-title">Crie sua conta</p>
    <div class="form-fields">
        <mat-form-field appearance="outline" class="name-field form-input">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome">
        </mat-form-field>
        <mat-form-field appearance="outline" class="mail-field form-input">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field appearance="outline" class="password-field form-input">
            <mat-label>Senha</mat-label>
            <input matInput name="password" type="password" placeholder="Senha">
            <mat-icon matSuffix>visibility</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="password-confirm-field form-input">
            <mat-label>Confirmar Senha</mat-label>
            <input matInput name="password-confirm" type="password" placeholder="Confirmar Senha">
            <mat-icon matSuffix>visibility</mat-icon>
        </mat-form-field>
    </div>
    <div class="form-buttons">
        <button mat-button class="form-button cancel-button">Cancelar</button>
        <button mat-flat-button color="success" class="form-button confirm-button">Confirmar</button>
    </div>
</div>