.cancel-button {
    color: rgba(73, 180, 187, 1);
}

.confirm-button {
    background-color: rgba(73, 180, 187, 1);
    color: #FFFFFF;
}

.mat-form-field {
    margin-bottom: -0.8rem;
}

.form-button {
    font-size: 1.1rem;
    width: 49%;
    font-weight: 700;
}