.form-container {
    display: grid;
    flex-direction: column;
}

.form-title {
    font-weight: 700;
    font-size: 1.1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.form-fields {
    display: grid;
    flex-direction: column;
}

.form-buttons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
}

.form-button {
    font-size: 1.1rem;
    width: 49%;
    font-weight: 700;
}

.cancel-button {
    color: rgba(73, 180, 187, 1);
}

.confirm-button {
    background-color: rgba(73, 180, 187, 1);
    color: #FFFFFF;
}

.mat-form-field {
    margin-bottom: -1rem;
}