<div class="form-container">
    <div class="form-fields">
        <mat-form-field appearance="outline" class="username-field form-input">
            <mat-label>Email ou Login</mat-label>
            <input matInput placeholder="Email ou Login">
        </mat-form-field>
        <mat-form-field appearance="outline" class="password-field form-input">
            <mat-label>Senha</mat-label>
            <input matInput name="password" type="password" placeholder="Senha">
            <mat-icon matSuffix>visibility</mat-icon>
        </mat-form-field>
        <mat-checkbox> Lembrar minha senha </mat-checkbox>
    </div>
    <div class="form-buttons">
        <button mat-button class="form-button create-account-button">Criar Conta</button>
        <button mat-flat-button color="success" class="form-button login-button">Acessar</button>
    </div>
</div>