.remember-checkbox {
    margin-left: .2rem;
}

.create-account-button {
    color: rgba(73, 180, 187, 1);
}

.login-button {
    background-color: rgba(73, 180, 187, 1);
    color: #FFFFFF;
}

.form-button {
    font-size: 1.1rem;
    width: 49%;
    font-weight: 700;
}